.container {
    position: relative;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 20px;
    min-height: 12rem;
  }
  
  .heading {
    position: absolute;
    top: -18px;
    left: 20px;
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
    color: blue;
    font-weight: 700;
    font-size: 1.5rem;
  }

  /* Stylings for disclaimer message & icon */
  .disclaimer, .liability {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .disclaimer {
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
  }

  .icon {
    color: #FA8B27;
    size: 30vh;
    margin-right: 10px;
  }

  /* Styling for liability message */
  .liability {
    padding: 10px;
  }

  