.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between; 
}

.filterSearchContainer {
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    height: 100vh;  
}

.filterSearch {
    margin-top: 20px;
    min-width: 70vw;
    min-height: 3vh;
}