.home {
  min-height: 100vh;
  font: Lato;
  color: #242424;
}

.banner {
  background-image: url('/images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 4rem;
}

.article {
  max-width: 500px;
  color: #242424;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card h2 {
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.banner button {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.mission h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.features {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.name {
  display: flex;
  flex-direction: row;
}

.card {
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
  margin: 3rem;
  background-color: #c2e0ec;
}

.name img {
  height: 60px;
  padding-top: 1rem;
  padding-left: 5px;
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.more {
  display: none;
  margin-top: 1rem;
  font-size: 1rem;
}

.card:hover .more {
  display: block;
}